h1{
    font-family: sans-serif;
    font-size: 30px;
  }
  
  .signUp {
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px solid rgb(215, 215, 215);
  }
  
  .signUp input {
    margin: 0 auto;
    padding: 10px;
    border: 0.50px solid rgb(215, 215, 215);
    margin-bottom: 0.65rem;
    font-size: 18px;
    border-radius: 5px;
    width: 95%;
    transition: background-color 1s;
  }
  
  .signUp input:hover,
  .signUp input:active,
  .signUp input:focus{
    background-color: skyblue;
  }
  
  .signUp button {
    cursor: pointer;
    width: 95%;
    padding: 10px;
    margin: 1rem 0 1rem 0;
    border: none;
    background-color: rgb(30, 30, 224);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .signUp button:hover,
  .signUp:focus{
    background-color:rgb(86, 172, 206);
  }